ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.ms-color-sharedCyanBlue20 {
  color: #004e8c;
}

.mt8 {
  margin-top: 8px;
}

#colleagues li {
  cursor: pointer;
  padding: 14px;
}

#colleagues li:hover, #colleagues li.selected {
  box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%)
}

#emails li {
  margin: 0 10px 14px 0;
  padding: 14px;
}